---
import ApproachSection from '../components/ApproachSection.astro';
import ClosingSection from '../components/ClosingSection.astro';
import DifferenceSection from '../components/DifferenceSection.astro';
import Hero from '../components/Hero.astro';
import SiteFooter from '../components/SiteFooter.astro';
import TeacherSection from '../components/TeacherSection.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout path="/">
	<main id="main-content" class="main-home">
		<Hero />
		<ApproachSection />
		<TeacherSection />
		<TestimonialSection />
		<DifferenceSection />
		<ClosingSection />
	</main>

	<SiteFooter />
	<script is:inline src="https://f.convertkit.com/ckjs/ck.5.js" defer></script>
</BaseLayout>
